@import "variables";
@import "utilities";

//
//Body
//
body{
    font-family: "Montserrat", sans-serif;
    color: $color-text;
    //background: linear-gradient(36deg,rgba(243, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 27%, rgba(255, 245, 235, 1) 51%, rgba(255, 255, 255, 1) 79%, rgba(242, 245, 255, 1) 100%);
}

h1, .h1{
    font-weight: bold;
    font-size: 3rem;
    color: $color-primary;
}

a{
    color: $color-accent;
    text-decoration: none;
    font-weight: 500;
    &:hover{
        color: darken($color: $color-accent, $amount: 5);
        text-decoration: underline;
    }
}