@import "variables";


.wrapper-form-buscador{
    position: relative; 
    overflow: hidden;
    width: 30%;
    .form-control{
        border: none;
        background: rgba($color-primary, 0.1);
        padding: 0.6rem 1rem;
        border-radius: 0.2rem;
        &:focus{
            box-shadow: 0 0 0.5rem 0.1rem $color-accent-highlighted;
            border-color: $color-accent-highlighted;
        }
    }
    button{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-radius: 0 0.2rem 0.2rem 0;
        border: 0px transparent;
        background: $color-accent;
        color: $color-white;
        padding: 0 0.8rem;
    }
}


// Paginación resultados busqueda
.active>.page-link,
.page-link.active{
    background-color: $color-accent;
    border-color: $color-accent;
}
.page-link{
    color: $color-accent;
    &:hover{
        color: $color-accent-dark;
        text-decoration: none;
    }
}