@import "variables";

.wrapper-buscador{
    position: relative;
    &:before{
        content: " ";
        width: 200px;
        height: 100%;
        background-image: url("../img/general/hero-left.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        position: absolute;
        left: 2rem;
        top: 0px;
        z-index: -1;
    }
    &:after{
        content: " ";
        width: 300px;
        height: 100%;
        background-image: url("../img/general/hero-right.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        position: absolute;
        right: 2rem;
        bottom: 0px;
        z-index: -1;
    }
    
}

.wrapper-form-buscador{
    position: relative;
    .form-control{
        border-color: $color-primary;
        &:focus{
            box-shadow: 0 0 0.5rem 0.1rem $color-accent-highlighted;
            border-color: $color-accent-highlighted;
        }
    }
    button{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 2rem;
        border: none;
        background: none;
        color: $color-accent;
    }
}