@import "variables";

.btn-primary{
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-white;
    &:hover,
    &:focus{
        background-color: $color-accent-dark;
        border-color: $color-accent-dark;
        color: $color-white;
    }
}

.btn-outline-primary{
    border-color: $color-accent;
    color: $color-accent;
    &:hover,
    &:focus{
        background-color: rgba($color-accent, 0.2);
        color: $color-accent;
        border-color: $color-accent;
    }
}

.btn-outline-secondary{
    border-color: $color-primary;
    color: $color-primary;
    &:hover,
    &:focus{
        background-color: $color-primary;
    }
}

.btn-group{
    .btn{
       color: $color-accent;
       border-color: $color-accent;
        &.active{
            background: $color-accent;
            color: $color-white;
        }
        &:hover:not(.active){
            background: $color-accent-highlighted;
            color: $color-accent-dark;
        }
    }
}