@import "variables";

.btn-carrito-flotante {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 999999999;
}

.carrito-vacio{
  margin-top: 3rem;
  padding-top: 2rem;
  background-image: url("../img/general/imago.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.btn-vaciar{
  margin-right: 1rem;
  color: $color-danger;
  text-decoration: none;
  &:hover{
    background: rgba($color-danger, 0.1);
    border-radius: 0.2rem;
    color: $color-danger;
  }
}

.wrapper-modal-carrito{
  .nav-link{
    color: $color-accent;
    border-radius: 0px;
    border-top: transparent;
    &:not(.active):hover,
    &:hover:not(.disabled){
      text-decoration: underline;
    }
    &.active{
      color: $color-primary;
      background-color: rgba($color-primary, 0.1);
      &:hover{
        text-decoration: none;
      }
    }
    &.disabled{
      color: $color-text-light;
    }
    span{
      display: inline-block;
      width: 16px;
      height: 16px;
      i{
        color: $color-success;
      }
      &.pending i{
        display: none;
      }
    }
  }

  //Arreglar responsivo
  .wrapper-productos,
  .form-envio,
  .form-pago{
    height: 374px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.modal-carrito{
  position: absolute;
  right: 48px;
  bottom: 54px;
  width: 580px;
  max-width: 100%;
  .modal-content{
    border-bottom-right-radius: 0px;
    height: 620px;
    max-height: 90%;
    overflow: hidden;
  }
}


//
// Form envío
