@import "variables";
@import "utilities";

.card-producto{
    h4, p{
        margin-bottom: 0;
    }
    p{
        font-size: 0.9rem;
    }
    small{
        font-size: 0.9rem;
        font-weight: 400;
    }
    .tienda{
        color: $color-text-light;
        margin-bottom: 0.2rem;
    }
    h5{
        font-size: 1.2rem;
    }
    .footer{
        padding-top: 1rem;
        button{
            border-color: $color-accent;
            color: $color-accent;
            &:hover{
                background-color: $color-accent-highlighted;
                color: $color-accent-dark;
            }
        }
    }
    .precio{
        font-size: 1.4rem;
        font-weight: bold;
        color: $color-primary;
        span{
            display: none;
        }
    }
}