@import "variables";

.navbar{
    background-color: rgba($color-white, 0.7) !important;
    // Estilo activo del menu
    .active{
        border-bottom: 2px solid $color-accent;
        color: $color-accent !important;
    }
}

// customizo los espacios
.nav-item:not(.btn){
    padding: 0 0.9rem;
}
.nav-link{
    font-size: 0.9rem;
    &:not(.btn){
        &:hover{
            color: $color-accent;
            transition: all 0.2s;
        }
    }
    &.btn{
        padding: 0.1rem 0.8rem !important;
        margin-top: 0.3rem;
    }
}

.navbar-brand{
    color: transparent;
    background-image: url(../img/general/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
    margin-right: 4rem;
    &:hover{
        color: transparent;
    }
}

