@import "variables";

.navbar{
    background-color: rgba($color-white, 0.7) !important;
    // Estilo activo del menu
    .active{
        border-bottom: 2px solid $color-accent;
    }
}

// customizo los espacios
.nav-item:not(.btn){
    padding: 0 0.9rem;
}
.nav-link{
    font-size: 0.9rem;
    &:not(.btn){
        &:hover{
            color: $color-accent;
            transition: all 0.2s;
        }
    }
}

.navbar-brand{
    font-family: "Sour Gummy", sans-serif;
    font-size: 2rem;
    .highlighted{
        position: relative;
        &::after{
            content: " ";
            display: block;
            background-color: $color-accent-highlighted;
            width: 100%;
            height: 1rem;
            position: absolute;
            left: 0;
            bottom: 0.5rem;
            z-index: -1;
        }
    }
    .brand-location{
        display: block;
        font-size: 1.2rem;
        margin-top: -1rem;
    }
}

